# Date Type

Numbers

In [14]:
1+1 
# python 덧셈

2

In [13]:
1 * 3
# python 곱하기

3

In [9]:
1 / 2
# python 나누기

0.5

In [10]:
2 ** 4
# 2의 4승

16

In [11]:
4 % 2
# 나머지 연산

0

In [12]:
5 % 2
# 나머지 연산

1

In [15]:
2 + 3 * 5 + 5
# python 사칙연산

22

# 변수 대입

In [18]:
# Can Not start with number or special charaters
# 변수는 숫자나 특수문자로 시작할 수 없다. 
name_of_var = 2 # 대입 연산자

In [17]:
# 변수
name_of_var

2

In [19]:
x = 2;
y = 3;

In [20]:
z = x + y
z

5

# Strings <- Markdown으로 문자 입력

In [1]:
'single quote' # 단따옴표

'single quote'

In [2]:
"double quotes" # 쌍따옴표

'double quotes'

In [4]:
"wrab lot's of other quotes"
# 파이선에서는 space를 문자로 인식한다.

"wrab lot's of other quotes"

 # Printing

In [5]:
x = 'hello'

In [6]:
x

'hello'

In [7]:
print(x)

hello

In [8]:
num = 12;
name = "Sam"

In [18]:
# format 메소드를 사용하여 {변수}안에 정해진 변수를 넣을 수 있다
print("My number is : {one}, and my name is : {two}".format(one=num,two=name))

My number is : 12, and my name is : Sam

In [19]:
# format 메소드를 사용하여 {}안에 정해진 변수를 넣을 수 있다
print("My number is : {}, and my name is : {}".format(num,name))

My number is : 12, and my name is : Sam

In [20]:
num1 = 18;
name1 = "Sungdae"

In [22]:
print("나이는 : {one}, 그리고 이름은 : {two} 입니다.".format(one = num1,two = name1))

나이는 : 18, 그리고 이름은 : Sungdae 입니다.

In [23]:
print("나이는 : {}, 그리고 이름은 : {} 입니다.".format(num1,name1))

나이는 : 18, 그리고 이름은 : Sungdae 입니다.

# Lists

In [24]:
[1,2,3]

[1, 2, 3]

In [26]:
["hi",1,[2,3]] # 리스트 안엔 다양한 형태의 데이터가 들어갈 수 있다.

['hi', 1, [2, 3]]

In [36]:
my_list = ['a','b','c'];
my_list

['a', 'b', 'c']

In [37]:
my_list.append('d') # 리스트 형의 데이터 타입에
my_list             # 추가 데이터를 넣는 방법 .append()

['a', 'b', 'c', 'd']

In [32]:
my_list[0]

'a'

In [34]:
my_list[1]

'b'

In [38]:
my_list[1:]

['b', 'c', 'd']

In [39]:
my_list[0] = "NEW"

In [40]:
my_list

['NEW', 'b', 'c', 'd']

In [44]:
nest = [1,2,3,[4,5,['target']]]

In [45]:
nest[3]

[4, 5, ['target']]

In [46]:
nest[3][2]

['target']

In [47]:
nest[3][2][0]

'target'

 # Dictionaries

In [4]:
d = {"key1" : "item1", "key2" : "item2"}
# 매핑(Mapping)
# 데이터 이름 : 데이터 내용

In [2]:
d

{'key1': 'item1', 'key2': 'item2'}

In [6]:
d["key1"]

'item1'

In [7]:
d["key2"]

'item2'

# Booleans
## 참과 거짓을 표현하는 데이터 형태

In [11]:
True
# 1과 같음

True

In [12]:
False
# 0과 같음

False

# Tuples

In [16]:
t = (1,2,3)

In [14]:
print(type(t))

<class 'tuple'>

In [19]:
t[0]
# index

1

In [18]:
t[2]

3

In [20]:
{1,2,3}

{1, 2, 3}

In [22]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,1,1,2}
# Set이라는 데이터 타압은 중복을 허용하지 않음

{1, 2, 3}

# Comarison Operators : 비교연산자

In [23]:
1 > 2

False

In [24]:
1 < 2

True

In [25]:
1 >= 2

False

In [32]:
1 >= 1
# > or = , 두 조건 중 하나만 성립하면 True

True

In [27]:
1 <= 4

True

In [33]:
1 == 1
# = 대입연산자
# == 같다

True

In [35]:
"hi" == "bye"

False

# Logic Operators : 논리 연산자

In [41]:
(1 > 2) and (2 < 3)
# and 는 둘 다 참이어야만 참이다.

False

In [42]:
(1 > 2 ) or ( 2 < 3 )
# or 는 둘 중 하나만 참이면 참이다.

True

In [43]:
( 1 == 2 ) or (2 == 3) or (4 == 4)
# 3개 (항의 개수) 중 하나만 참이면 참이다.

True

# if, elif, else Statements

In [44]:
if 1 < 2 :
    print("Yep!")

Yep!

In [46]:
if 1 < 2 :
    print("yep!")

yep!

In [50]:
if 1 < 2 :
    print("first")
else: # true가 아닐경우, if문 조건에 맞지 않을 경우
    print("last")

first

In [51]:
if 1 > 2:
    print('first')
else : # if문이 실행되는 조건은 1 > 2 이어야 하는데, 1은 2보다 크지 않으므로,
       # if문이 실행되지 않고, else문이 실행됩니다.
    print('last')

last

In [52]:
if 1 == 2: # if문은 조건이 맞지 않는다.
    print('first')
elif 3 == 3: # elif문은 조건이 맞기에 elif에서 동작을 멈춤
    print("middle")
else:
    print("Last")

middle

# for Loops

In [53]:
seq = [1,2,3,4,5]

In [54]:
for item in seq:
    print(item)

1
2
3
4
5

In [59]:
for item in seq:
    print("b")

b
b
b
b
b

In [58]:
for hello in seq:
    print(hello + hello)

2
4
6
8
10

# while Loops

In [65]:
i = 1
while i < 5: # i 가 5보다 작다면  # 1,2,3,4까지 실행됨
    print('i is : {}'.format(i)) # print로 현재 i의 수를 출력 # {}에 i를 넣는다.
    i = i+1 # i에다 i+1을 대입 i가 5가 될시 종료됨 # 그 후 i에 1을 더한다

i is : 1
i is : 2
i is : 3
i is : 4

# range()

In [69]:
range(5) # 0부터 5개

range(0, 5)

In [68]:
for i in range(5):
    print(i)

0
1
2
3
4

# list comprehension

In [70]:
x = [1,2,3,4]

In [73]:
out = [] # out이라는 list 선언
for item in x:
    out.append(item*2) # out이라는 리스트에 괄호 안 내용을 추가해라.
print(out)

[2, 4, 6, 8]

In [74]:
[item**2 for item in x] # x안에 있는 내용을 차례댈 item이라는 이름으로 뽑는다.
                         # 그런후에 item ** 2의 내용으로 list에 채워 넣는다.

[1, 4, 9, 16]

# functions

In [10]:
def my_func(param1 = "default"): # def는 함수 명 앞에 놓여서 함수를 정의한다는 뜻
# (param1 = 'default')는 parameter,
#함수를 실행할 때 파라미터가 입력값으로 들어가 실행된다.
# 함수 내부에서 주석으로 처리하고자 하는 부분은 """로 시작하여"""로 끝내면 된다.
# 해당 사항은 함수 내용에 영향을 미치지 않는다.
# my_func라는 함수는 string 형태를 param1에 저장하여 param1을 프린트하는 기능을 가졌다
    """                          
    Docstring does here.
    """
    print(param1)

In [3]:
my_func

In [12]:
my_func() # 함수 my_func()를 통해서
        # 파라미터에 들어가 있는 string형태의 데이터를 print하게 된다.

default

In [13]:
my_func(3)

3

In [6]:
my_func(param1 = 'new param')

new param

In [7]:
def square(x): # square()라는 함수를 선언하고
                #매개변수 자리에 변수를 대입하면 2제곱으로 출력
        # square라는 이름의 함수는 숫자 하나를 받아들여서 그 숫자의 제곱값을
        # 내 놓는 기능을 한다.
    return x**2

In [14]:
out = square(2) # out에 담긴 2**2가 출력된다.
print(out)

4

In [62]:
def times2(var):
    return var*2
print(times(2))

4

In [17]:
# var (variable : 변수)라는 파라미터를 받아서,
# 그것의 *2값을 출력하도록 하는 times2라는 이름의 함수

# map and filter

In [2]:
seq = [1,2,3,4,5] # seq이라는 변수를 [1,2,3,4,5]라는 리스트형태롤 저장한다.

In [38]:
list(map(times2,seq)) # times2와 seq를 map이라는 함수를 이용하여 계산하고 
                      #list로 출력한다.
# seq에 있는 리스트 내용의 전체를 앞에서부터 하나씩 times2라는 함수의 파라미터로
# 넣어서 list 형태로 출력해준다. map은 괄호 안에 첫번째 나오는 함수 times2와 seq를
# 하나식 짝지어주는 내장함수이다.

[2, 4, 6, 8, 10]

In [39]:
list(map(lambda var : var * 2, seq)) # lambda라는 함수를 이용하여 
                                      # 번거로운 작업을 수월하게 줄임
# lambda함수의 뒤에 오는 두가지 a:a*2는 a를 input으로 받아서 a*2를
# output으로 내 놓으라는 뜻이다.

[2, 4, 6, 8, 10]

In [65]:
list(map(lambda var : var * 3 , seq))

[3, 6, 9, 12, 15]

In [68]:
list(map(lambda var : var / 2, seq))

[0.5, 1.0, 1.5, 2.0, 2.5]

In [5]:
list(filter(lambda item : item%2 == 1, seq))
# fillter는 조건에 맞는 부분만 출력해주는 것이다. 그래서 lambda에 item이라는 변수에
# seq의 리스트 내용 중 앞에서부터 하나씩 넣었을 때 해당 item을 2로 나눈 나머지가 0인
# 것만 빼서 출력한다.

[1, 3, 5]

In [11]:
t = lambda t : t * 2
t(6)

12

# methods

In [72]:
st = "hello my name is Sam"

In [73]:
st.lower()

'hello my name is sam'

In [75]:
st.upper()

'HELLO MY NAME IS SAM'

In [76]:
st.split(" ")

['hello', 'my', 'name', 'is', 'Sam']

In [77]:
tweet = "Go Sports! #Sports"

In [78]:
tweet.split("#")

['Go Sports! ', 'Sports']

In [79]:
tweet.split("#")[1]

'Sports'

In [14]:
dic1 = {'a' : 1 , 'b' : 2, 'c' : 3}
dic1 # Dictionary 형태의 데이터 타입.
    # Dictionary의 데이터는 key와 value(item)로 구성되어 있다.

{'a': 1, 'b': 2, 'c': 3}

In [19]:
dic1.keys()

dict_keys(['a', 'b', 'c'])

In [20]:
dic1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [21]:
dic1.values()

dict_values([1, 2, 3])

In [26]:
lst = [1,2,3,4,5,6,7]

In [33]:
popednumber1 = lst.pop()

In [35]:
popednumber1

5

In [41]:
lst

{2, 3, 4}

In [146]:
popedumber1 = lst.pop()

In [147]:
popednumber1

5

In [42]:
lst = [1,2,3,4]

In [43]:
popednumber2 = lst.pop(0)

In [44]:
popednumber2

1

In [45]:
lst

[2, 3, 4]

In [46]:
lst.append('new')

In [47]:
lst

[2, 3, 4, 'new']

In [56]:
'x' in [1,2,3] # 'x'라는 string이 [1,2,3]안에 존재하지 않아 False

False

In [58]:
'x' in ['x','y','z'] # x라는 string이 ['x','y','z']안에 존재하여 True

True

In [82]:
x = [(1,2), (3,4), (5,6)]

In [60]:
x[0]

(1, 2)

In [62]:
x[0][1]

2

In [84]:
for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [144]:
for (a,b) in x:
    print(b)

2
4
6

In [145]:
# for a, b in x : 와 같이 적어도 똑같다.
for (a, b) in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [12]:
d = {'k1':[1,2,3,{"tricky":['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [13]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'